html {
  height: 100%;
}
body {
  min-height: 100%;
}

:root {
  --light-gray: #c9d0e3;
}

#root {
  height: 100%;
  position: relative;
}

.jf-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f6;
}

.jf-loader-img {
  animation: heartbeat 1.7s infinite;
  width: 60px;
}

@keyframes heartbeat {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
